
/app/app-release.apk
/local.properties
/app/build/*
/gradle
/app/app.iml
/gradle.properties
/gradlew.bat
/sample.iml
/sample/build/*
/.gradle
/.idea
**/.DS_Store
.okbuck/keystore
/nfchatsdk/build/tmp
/nfchatsdk/build/intermediates
/nfchatsdk/build/outputs
/nfchatsdk/build/generated
/nfchatsdk/build/docs
/nfchatsdk/library.iml
/nfchatsdk/gradle.properties
/build
**/*.iml
nfchatsdk/build/
/gradlew
projectFilesBackup/.idea/
