
/app/app-release.apk
/local.properties
/app/build/*
/gradle
/app/app.iml
/gradle.properties
/gradlew.bat
/sample.iml
/sample/build/*
/.gradle
/.idea
**/.DS_Store
.okbuck/keystore
/anachatsdk/build/tmp
/anachatsdk/build/intermediates
/anachatsdk/build/outputs
/anachatsdk/build/generated
/anachatsdk/build/docs
/anachatsdk/anachatsdk.iml
/anachatsdk/gradle.properties
/build
**/*.iml
anachatsdk/build/
/gradlew
projectFilesBackup/.idea/
